body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.Ncolor{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;

}
.half-width{
    width: 50%;
    padding-left: 7%;
    text-align: justify;
    padding-right: 5px;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
 background-image: linear-gradient(rgb(238, 55, 101),rgba(214, 156, 48, 0.863));
 padding: 10px 40px;
 border-radius: 10px;
 font-weight: 700;
 color: white;   
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
 background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-widthC{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px gray;
}
.developer{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#fullweb{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
#webdev{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}